.container-f {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px; 
}

/* Estilos para los botones */
.container-f button {
    margin: 10px; 
}

.container-f button a {
    text-decoration: none; 
    color: inherit; 
    display: block; 
    padding: 10px 20px; 
    text-align: center; 
}
